#markers-bar {
	position: absolute;
	top:0px;
	left: 0px;
	width:18px;            
	height:100%;
	text-align:left;
	background-color: #999999;	
	opacity:0.7;
}
#markers-bar hr {	
	border-top: 1px dotted #000000; 	
	border-bottom: none;
	width: 100%;	
	right: 1px;
	margin: 0;
	padding: 0;
}
.mark-input input{
	margin: 0;
	padding: 0;
	width: 180px;
}
.mark-input {
	border-width: 1px;
	border-style: solid;
	border-color: #696969;
	background-color: #999999;	
	opacity:0.7;  
}
